<%- include('../components/header.ejs') %>
    <div class="container my-5">
        <div class="login-container">
            <h2 class="text-center mb-4">Login</h2>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
            <p class="text-center mt-3">
                <a href="#" class="text-decoration-none" style="color: #000000;">Forgot your password?</a>
            </p>
        </div>
    </div>

   <%- include('../components/footer.ejs') %>